html 
  head 
    title= title 
  body
    h1= message

    ol
      each todo in todos
        li= todo

    form(action="/", method="POST")
      input(id = "todoadder" type="text" name="todoadder" placeholder= "Enter new todo")
      input(id = "todoRemover" type="number" name="todoRemover" placeholder="Remove Todo number...")
      <br>
      button(type="submit") Submit